* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.webpage {
    overflow: hidden;
}
img {
    max-width: 100%;
    display: block;
    border: 0;
    outline: 0;
}
.fullwidth {
    width: 100%;
}
.clicker {
    cursor: pointer;
    position: absolute;
    background: rgba(255,255,255,0);
    z-index: 1;
}
.relative {
    position: relative;
}
video {
    width: 100%;
    object-fit: cover;
}
.parallax {
    width: 39vw;
    position: absolute;
    right: 0;
    top: 30%;
    transition: .1s ease !important;
}
.parallaxWrap {
    width: 100vw;
    height: 47vw;
    position: absolute;
    left: 0;
    top: 0;
}
.appLoader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-style: oblique;
    font-size: 50px;
    color: #ddd;
}
.fillParent,
.top-banner video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
} 

.chatIcon {
    cursor: pointer;
    width: 54px;
    height: 54px;
    position: fixed;
    bottom: 40px;
    left: 40px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}
.chatIcon .active-icon {
    opacity: 0;
    background-image: url(https://res.cloudinary.com/augrey/image/upload/v1614602529/bharath/chat-icon-active_rucepu.png);
}
.chatIcon.active .active-icon {
    opacity: 1;
}
.chatIcon i {
    width: 54px;
    height: 54px;
    background-image: url(https://res.cloudinary.com/augrey/image/upload/v1614602529/bharath/chat-icon_utfto7.png);
    background-size: contain;
    background-position: center;
    background-color: #01508f;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
.chat-window {
    width: 300px;
    height: 480px;
    background-image: url(https://res.cloudinary.com/augrey/image/upload/v1614602529/bharath/chat-window_m6eob0.png);
    background-size: contain;
    background-position: bottom left;
}
.chatPopup {
    position: fixed;
    left: 110px;
    bottom: 55px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 17px;
    transform: scale(1);
    opacity: 1;
    transition: 0.5s;
    transform-origin: bottom left;
}
.chatPopup.minimized {
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
}
.chatPopup .close {
    background: rgba(0,0,0,0);
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 10px;
    right: 10px;
    z-index: 1;
}
.slide-achievements .clicker {
    width: 27.6vw;
    height: 41.3vw;
    top: 10.7vw;
    right: 23.4vw;
}
.slide-achievements .clicker:hover {
    background: rgba(0,0,0,0.1);
}


.popup-achievement {
    animation: scaleIn 0.4s;
    background-image: url(https://res.cloudinary.com/augrey/image/upload/v1614602529/bharath/achievement-slide_z6yx8b.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: #f2f9fe;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.popup-achievement .close {
    background: rgba(0,0,0,0);
    cursor: pointer;
    position: absolute;
    width: 6vh;
    height: 6vh;
    top: 4.2vh;
    left: 50%;
    margin-left: 70.5vh;
    z-index: 1;
}
@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.verticalHR {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -40px;
}
.verticalHR:before, .verticalHR:after {content: '';display: block;width: 1px;height: 40px;}
.verticalHR:before {border-left: 1px dashed #fff;}
.verticalHR:after {
    border-left: 1px dashed #ff5722;
}
.popup-achievement img.fillParent {
    object-fit: contain;
    background: #f3faff;
}
.link-facilities {
    position: absolute;
    z-index: 3;
    font-size: 0;
    width: 11vw;
    height: 2.5vw;
    top: 6vw;
    right: 11vw;
}
.link-classroom {
    position: absolute;
    z-index: 3;
    font-size: 0;
    width: 85.6vw;
    height: 16vw;
    top: 39vw;
    right: 6.4vw;
}
.link-play {
    position: absolute;
    z-index: 3;
    font-size: 0;
    width: 6vw;
    height: 6vw;
    top: 23.8vw;
    left: 47.7vw;
}
.link-home {
    position: absolute;
    z-index: 3;
    font-size: 0;
    width: 18vw;
    height: 6vw;
    top: 2vw;
    left: 3vw;
}
.link-fc-banner {
    position: absolute;
    z-index: 3;
    font-size: 0;
    width: 21vw;
    height: 46vw;
    bottom: 0;
    left: 49.6vw;
}
.link-fc-explore {
    position: absolute;
    z-index: 3;
    font-size: 0;
    width: 12vw;
    height: 3vw;
    bottom: 9vw;
    right: 8.2vw;
}
.img {
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.bharath-header {
    background-image: url(https://res.cloudinary.com/augrey/image/upload/v1614602530/bharath/bharath-header_kax52n.png);
    height: 52.5vw;
}
.welcomeImg {
    background-image: url(https://res.cloudinary.com/augrey/image/upload/v1614602532/bharath/welcome_fwkqwg.png);
    height: 93.8vw;
}
.bharath-logo {
    background-image: url(https://res.cloudinary.com/augrey/image/upload/v1614602531/bharath/logo-transparent_hmgxxs.png);
    height: 93.8vw;
    background-size: contain;
    background-position: top right;
}
.takeATour {
    background-image: url(https://res.cloudinary.com/augrey/image/upload/v1614602531/bharath/take-a-tour_ylck09.jpg);
    height: 64vw;
}
.slide-achievements {
    background-image: url(https://res.cloudinary.com/augrey/image/upload/v1614602530/bharath/achievements_m2hlsa.jpg);
    height: 66.66vw;
}
.newsSection {
    background-image: url(https://res.cloudinary.com/augrey/image/upload/v1614602531/bharath/news_pqc5uh.jpg);
    height: 64vw;
}
footer {
    background-image: url(https://res.cloudinary.com/augrey/image/upload/v1614602530/bharath/footer_epb7ls.jpg);
    height: 56vw;
}

